/* ==========================================================================
   Colors
   ========================================================================== */

	   $color-dark: #7eb400;
	   $color-medium: rgba(147,149,152,.9);
	   $color-light: rgba(236,234,102,.8);


/* ==========================================================================
   Spacing / Widths
   ========================================================================== */

	   $max-width: 990px;
	   $default-space: 20px;
	   $default-space-smaller: ( $default-space / 2 );
	   $default-space-smallest: 3px;
	   $highlight: #fff400;

