@import "normalize";

body {
	padding: 0;
	margin: 0;
}

p {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height:18px;
	color:#333;
}

#application {
	opacity: 0;
	-moz-transition: opacity 350ms ease;
	-webkit-transition: opacity 350ms ease;
	-o-transition: opacity 350ms ease;
	transition: opacity 350ms ease;
}

#header {
	width: auto;
	min-height: 44px;
	padding: 0 20px 0 20px;
	margin: 0;
	background: #F7F7F7;
	overflow: hidden;
}

#content {
	width: auto;
	padding:20px;
	p {
		margin:0;
		padding:0;
		text-align:center;
		line-height: 100%;
	}
}

#footer {
	width: auto;
	min-height: 44px;
	margin: 40px 0 0 0;
	overflow: hidden;
	padding: 0 40px 0 40px;
	p {
		color:#AAA;
	}
}

.border-bottom-light {
	border-bottom: 1px solid #eee;
}

.border-top-light {
	border-top: 1px solid #eee;
}

.custom {
	margin:0;
	padding:0;
} 